# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
peer/peer1/audio.mp3
peer/peer1/peer
peer/peer2/peer
peer/peer3/peer
peer/peer4/peer
server/server